# Payment certification

The analog copies produced by the PSP following a payment must contain at least the following information:

* date and time of the transaction
* fiscal code of the creditor (_fiscalCodePA_)
* name of the creditor (_companyName_)
* univocal payment identifier, univocal identifier assigned to the creditor (_creditorReferenceId_)
* PSP identifier (at least one company name and fiscal code)
* univocal payment number (_paymentToken_)
* transaction amount (_totalAmount_)
* payment reason (_paymentDescription_)